.signin-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 56px);
}
.signin-wrapper{
    display: flex;
        align-items: center;
        flex-direction: column;
        background-color: lightgray;
        padding: 20px 50px;
        gap: 10px;
}
.signin-container .title{
        font-size: 24px;
}
.subtitle{
    font-size: 20px;
    font-weight: 300;
}
.more{

}
input{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
width: 100%;
color: rgb(141, 139, 139);
}
button{
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background-color: #5a5959;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
.googleBtn{
    width: 85%;
    font-weight: 400;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
}